[submodule "College/CompSciCode"]
	path = College/CompSciCode
	url = https://github.com/TheTerrarian03/CompSciCode.git
[submodule "High School/AP-Comp-Codes/AP_Comp_Encoder"]
	path = High School/AP-Comp-Codes/AP_Comp_Encoder
	url = https://github.com/TheTerrarian03/AP_Comp_Encoder.git
[submodule "Projects/MinecraftProfileManager"]
	path = Projects/MinecraftProfileManager
	url = https://github.com/TheTerrarian03/MinecraftProfileManager.git
[submodule "College/attendance-clicker"]
	path = College/attendance-clicker
	url = https://github.com/donmjoseph/attendance-clicker.git
[submodule "Projects/VisualStudioTools"]
	path = Projects/VisualStudioTools
	url = https://github.com/TheTerrarian03/VisualStudioTools.git
[submodule "Projects/vs-sln-gen"]
	path = Projects/vs-sln-gen
	url = https://github.com/Huskiefusion/vs-sln-gen.git
[submodule]
	High = School/AP-Comp-Codes/AP_Comp_Encoder.branch
[submodule "Projects/MinecraftServerManager"]
	path = Projects/MinecraftServerManager
	url = https://github.com/TheTerrarian03/MinecraftServerManager.git
[submodule "Projects/Drive-Formatter"]
	path = Projects/Drive-Formatter
	url = https://github.com/Logan-Meyers/Drive-Formatter.git
[submodule "College/firstfm"]
	path = College/firstfm
	url = https://github.com/AndrewN4675/firstfm.git
[submodule "College/movie_nn"]
	path = College/movie_nn
	url = https://github.com/JohnnyBoiTime/movie_nn.git
[submodule "Projects/CPTS_260_Tools"]
	path = Projects/CPTS_260_Tools
	url = https://github.com/Logan-Meyers/CPTS_260_Tools.git
[submodule "Minecraft/TaCZ-Vanilla-Mobs"]
	path = Minecraft/TaCZ-Vanilla-Mobs
	url = https://github.com/Logan-Meyers/TaCZ-Vanilla-Mobs.git
