[submodule "College/CompSciCode"]
	path = College/CompSciCode
	url = https://github.com/TheTerrarian03/CompSciCode.git
[submodule "High School/AP-Comp-Codes/AP_Comp_Encoder"]
	path = High School/AP-Comp-Codes/AP_Comp_Encoder
	url = https://github.com/TheTerrarian03/AP_Comp_Encoder.git
[submodule "Projects/MinecraftProfileManager"]
	path = Projects/MinecraftProfileManager
	url = https://github.com/TheTerrarian03/MinecraftProfileManager.git
[submodule "Projects/VSCode_to_VS"]
	path = Projects/VSCode_to_VS
	url = https://github.com/TheTerrarian03/VSCode_to_VS.git
[submodule "Projects/vs-sln-gen"]
	path = Projects/vs-sln-gen
	url = https://github.com/Huskiefusion/vs-sln-gen.git
